// font families

@mixin font-family {
  font-family: 'VestaPro', sans-serif;
  font-weight: 400;

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
    font-weight: 400;
  }

  strong em,
  b i {
    color: $melon;
    font-style: normal;
    font-weight: 700;
  }
}

@mixin font-family--serif {
  font-family: 'TiemposHeadline', serif;
  font-weight: 600;

  strong,
  b {
    font-weight: 600;
  }

  em,
  i {
    font-style: italic;
    font-weight: 600;
  }
}


// typeset

@mixin typeset {
  @include font-family;
  color: $gray-dark;
  font-size: 1rem;
  line-height: 1.375;

  h1 {
    @include font-family--serif;
    @include margin-fix;
    color: $day;
    font-size: 2.5rem;
    line-height: 1.125;

    @media #{$mq-s} {
      font-size: 3rem;
    }

    @media #{$mq-m} {
      font-size: 3.5rem;
    }

    @media #{$mq-l} {
      font-size: 4rem;
    }
  }

  h2 {
    @include font-family--serif;
    @include margin-fix;
    color: $melon;
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 2rem;
    margin-top: 4rem;
    max-width: 40rem;

    @media #{$mq-s} {
      font-size: 2.5rem;
    }

    strong,
    b {
      box-shadow: inset 0 -1.1375em 0 0 $melon, .25em 0 0 -.25em $melon, -.25em 0 0 -.25em $melon;
      color: $day;
      font-style: italic;

      &::before,
      &::after {
        content: '\00a0';
      }
    }
  }

  h3 {
    @include margin-fix;
    color: $melon;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1rem;
    margin-top: 2rem;
    max-width: 40rem;

    @media #{$mq-s} {
      font-size: 1.375rem;
    }
  }

  sub {
    @include font-family;
    @include margin-fix;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 40rem;

    @media #{$mq-s} {
      font-size: 1.25rem;
    }
  }

  p {
    @include margin-fix;
    hyphens: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 40rem;

    @media #{$mq-s} {
      font-size: 1.125rem;
    }

    a {
      border-bottom: .0625rem $melon solid;
      color: $melon;
      font-weight: 700;
      transition: border ease-in-out .25s, color ease-in-out .25s;

      &:hover {
        border-color: $gray-dark;
        color: $gray-dark;
      }
    }
  }

  blockquote {

    cite {
      @include margin-fix;
      display: block;
      font-size: 1.125rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-align: center;
    }

    p {
      @include font-family--serif;
      font-size: 1.25rem;
      line-height: 1.375;
      max-width: 60rem;

      @media #{$mq-m} {
        font-size: 1.375rem;
      }

      &::first-letter {
        float: left;
        font-size: 4.5em;
        line-height: .75;
        padding-right: .5rem;
      }
    }
  }
}
