.ce-highlights {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 20;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  &__title {
    max-width: 64rem;
    padding: 2rem;
    width: 100%;
  }

  &__entries {
    display: flex;
    flex-flow: column nowrap;
    max-width: 64rem;
    padding: 0 1rem;
    width: 100%;

    @media #{$mq-m} {
      flex-flow: row wrap;
    }

    @media #{$mq-l} {
      padding: 0;
    }
  }

  &__item {
    padding: 2rem 1rem;
    width: 100%;

    @media #{$mq-m} {
      width: 50%;
    }

    @media #{$mq-l} {
      padding: 2rem;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
      z-index: 1;
    }

    figcaption {
      background-color: $day;
      margin-top: -4rem;
      padding: 2rem 2rem 0 0;
      width: 75%;
      z-index: 2;
    }

    p {
      font-size: 1rem;
    }
  }
}
