.ce-image {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding: 4rem 4rem 4rem 0;
  width: 100%;
  z-index: 40;

  @media #{$mq-s} {
    padding: 4rem 25% 4rem 0;
  }

  @media #{$mq-m} {
    padding: 6rem 25% 6rem 0;
  }

  &--right {
    padding: 4rem 0 4rem 4rem;

    @media #{$mq-s} {
      padding: 4rem 0 4rem 25%;
    }

    @media #{$mq-m} {
      padding: 6rem 0 6rem 25%;
    }
  }

  &:first-child,
  .ce-testimonial + & {
    padding-top: 0;
  }

  &__image {
    height: auto;
    width: 100%;
  }
}
