.ce-procedure {
  align-items: center;
  background-color: $day;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  width: 100%;
  z-index: 20;

  @media #{$mq-m} {
    padding: 4rem 2rem;
  }

  &__title {
    max-width: 64rem;
    padding: 2rem;
    width: 100%;
  }

  &__list {
    counter-reset: li;
    display: flex;
    flex-flow: column nowrap;
    max-width: 64rem;
    padding: 1rem;
    width: 100%;

    @media #{$mq-s} {
      flex-flow: row wrap;
    }

    &__item {
      counter-increment: li;
      padding: 1rem;
      width: 100%;

      @media #{$mq-s} {
        width: 50%;
      }

      @media #{$mq-m} {
        width: 50%;
      }

      @media #{$mq-l} {
        width: 25%;
      }
    }

    &__item::before {
      @include font-family--serif;
      color: $melon;
      content: counter(li, decimal-leading-zero) '.';
      display: block;
      font-size: 2.5rem;
      margin-bottom: 1rem;

      @media #{$mq-s} {
        font-size: 3rem;
      }
    }
  }
}
