.ce-testimonial {
  align-items: center;
  background-color: $melon;
  color: $day;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;
  overflow: hidden;
  padding: 2rem 0 6rem;
  width: 100%;
  z-index: 10;

  @media #{$mq-m} {
    padding: 4rem 2rem 10rem;
  }

  &:first-child {
    margin-top: -4rem;
    padding-top: 0;

    @media #{$mq-m} {
      margin-top: -6rem;
    }
  }

  .ce-image + & {
    margin-top: -8rem;
    padding-top: 6rem;

    @media #{$mq-m} {
      margin-top: -12rem;
      padding-top: 10rem;
    }
  }

  &__author {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: flex-start;
    padding: 2rem;
    width: 100%;

    a {
      color: $day;
    }

    img {
      background-color: $day;
      border: .5rem $day solid;
      border-radius: 50%;
      height: 12rem;
      width: 12rem;
    }
  }

  &__text {
    padding: 2rem;
  }
}
