.page-footer {
  align-items: center;
  background-color: $melon;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  padding: 3rem 1rem;
  width: 100%;

  @media #{$mq-m} {
    padding: 5rem 3rem;
  }

  &__logo {
    padding: 1rem;

    img {
      height: auto;
      width: 12rem;

      @media #{$mq-s} {
        width: 14rem;
      }

      @media #{$mq-m} {
        width: 16rem;
      }

      @media #{$mq-l} {
        width: 18rem;
      }
    }
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;

    &__item {
      color: $day;
      margin-right: 1rem;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }
}
